// /***** color-palette *****/
$theme_red:         #D93025;
$theme_light_red:   #FF1744;
$theme_pink:        #E91E63;
$theme_purple:      #9C27B0;
$theme_deep_purple: #673AB7;
$theme_indigo:      #3949AB;
$theme_blue:        #0091EA;
$theme_light_blue:  #0288D1;
$theme_cyan:        #5E35B1;
$theme_dark_cyan:   #4769d2;
$theme_teal:        #188c75;
$theme_green:       #4CAF50;
$theme_sea_green:   #6ab878;
$theme_lime:        #C0CA33;
$theme_yellow:      #FFD600;
$theme_dark_yellow: #F57F17;
$theme_amber:       #FFA000;
$theme_orange:      #FF6D00;
$theme_deep_orange: #F4511E;
$theme_brown:       #6D4C41;
$theme_grey:        #424242;
$theme_dark_grey:   #323232;
$theme_blue_grey:   #37474F;
$theme_green_grey:  #3b4342;
// /***** color-palette *****/

// Some color theme stuff
@mixin color_theme($headerbar_rules: 'true',
                   $check_rules: 'true',
                   $switch_rules: 'true',
                   $view_rules: 'true',
                   $entry_rules: 'true',
                   $button_rules: 'true',
                   $scale_rules: 'true',
                   $link_rules: 'true',
                   $theme_color: $primary,
                   $header_color: if($topbar == 'light', mix($theme_color, $background, 5%), $theme_color),
                   $theme_indicator: if($topbar == 'dark', currentColor, $theme_color)) {
  @if $headerbar_rules=='true' {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      $header_color,
                                      $header_color $large-size,
                                      $background $large-size,
                                      $background);

    &:backdrop {
      background-color: transparent;
      background-image: linear-gradient(to bottom,
                                        darken($header_color, 2%),
                                        darken($header_color, 2%) $large-size,
                                        $background $large-size,
                                        $background);
    }
  }

  @if $check_rules=='true' {
    check, radio {
      &:checked, &:indeterminate {
        color: $theme_color;
      }
    }
  }

  @if $switch_rules=='true' {
    switch {
      &:checked { background-color: rgba($theme_color, 0.5); }

      &:checked slider {
        background-color: $theme_color;
        color: $theme_color;
      }
    }
  }

  @if $view_rules=='true' {
    .view {
      &:selected { color: $theme_color; }
    }
  }

  @if $entry_rules=='true' {
    entry, spinbutton:not(.vertical) {
      caret-color: $theme_color;

      &:focus-within { @include entry(checked, $fc: $theme_color); }

      selection {
        color: on($theme_color);
        background-color: $theme_color;
      }
    }

    entry progress {
      border-color: $theme_color;
    }

    label {
      selection {
        color: on($theme_color);
        background-color: $theme_color;
      }
    }

    headerbar {
      entry, spinbutton:not(.vertical) {
        &:focus-within { @include entry(checked, $fc: $theme_indicator); }

        selection {
          color: if($topbar == 'dark', $theme_color, on($theme_color));
          background-color: if($topbar == 'dark', white, $theme_color);
        }
      }

      entry progress {
        border-color: $theme_indicator;
      }

      label {
        selection {
          color: if($topbar == 'dark', $theme_color, on($theme_color));
          background-color: if($topbar == 'dark', white, $theme_color);
        }
      }
    }
  }

  @if $button_rules=='true' {
    button:not(.suggested-action):not(.destructive-action):not(.flat):not(.combo):not(.popup):not(.title-button):not(.down):not(.up) {
      &:checked {
        color: on($theme_color);
        background-color: $theme_color;
      }

      &:focus:not(:hover) {
        box-shadow: 0 0 0 2px rgba($theme_color, 0.28);
      }

      &:checked:disabled {
        @include button(checked-disabled);
      }
    }

    button.combo {
      &:checked {
        @include entry(checked, $fc: $theme_color);
        background-color: $fill;
        color: $text;
      }
    }

    stackswitcher > button:not(.suggested-action):not(.destructive-action):not(.flat):not(.combo):not(.popup):not(.title-button):not(.down):not(.up) { // reset stackswitcher buttons
      border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                    $theme_color 0%,
                                    transparent 0%)
                                    0 0 0 / 0 0 0px;

      &:checked {
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                      $theme_color 100%,
                                      transparent 0%)
                                      0 0 2 / 0 0 2px;
        background-color: transparent;
        color: $text;
      }

      &:focus:not(:hover) {
        box-shadow: none;
      }
    }

    headerbar {
      button:not(.suggested-action):not(.destructive-action):not(.flat):not(.combo):not(.popup):not(.title-button):not(.down):not(.up) { // reset headerbar buttons
        &:checked {
          background-color: if($topbar == 'dark', rgba(black, 0.2), rgba(black, 0.1));
          color: $titlebar-text;
        }

        &:focus:not(:hover) {
          box-shadow: 0 0 0 2px rgba($titlebar-text, 0.15);
        }
      }
    }
  }

  @if $scale_rules=='true' {
    scale {
      highlight {
        background-image: image($theme_color);
      }

      slider { color: $theme_color; }
    }
  }

  @if $link_rules=='true' {
    link {
      color: $theme_color;

      &:visited {
        color: $text-secondary-disabled;
      }
    }

    button.link {
      &:link {
        &, &:focus, &:hover, &:active { color: $theme_color; }
      }

      &:visited {
        &, &:focus, &:hover, &:active { color: $text-secondary-disabled; }
      }
    }
  }
}

//
// Nautilus
//

$nautilus-header:          if($topbar == 'dark', #3266D4, mix(#3266D4, $background, 5%));
$nautilus-header-backdrop: if($topbar == 'dark', darken(#3266D4, 2%), mix(darken(#3266D4, 2%), $background, 5%));

window.background.nautilus-window:not(.about) {
  background-image: linear-gradient(to bottom,
                                    $nautilus-header,
                                    $nautilus-header $large-size,
                                    $background $large-size,
                                    $background);

  &:backdrop {
    background-image: linear-gradient(to bottom,
                                      $nautilus-header-backdrop,
                                      $nautilus-header-backdrop $large-size,
                                      $background $large-size,
                                      $background);
  }
}

//
// Text Editor
//

window.background.org-gnome-TextEditor:not(.about) {
  @include color_theme($theme_color: $theme_amber);
}

//
// Gnome Contacts / Gnome Calender
//

window.background.csd:not(.about) {
  > contents > toastoverlay > leaflet {
    @include color_theme($theme_color: $theme_orange);

    .navigation-sidebar > row {
      &:selected { &, label, image { color: $theme_cyan; }}
    }
  }
}

//
// Gnome Control Center
//

window.background.csd {
  > contents > leaflet {
    @include color_theme($theme_color: $theme_cyan);

    .navigation-sidebar > row {
      &:selected { &, label, image { color: $theme_cyan; }}
    }
  }
}
