// /***** color-palette *****/
$theme_red:         #FF5252;
$theme_light_red:   #FF1744;
$theme_pink:        #D81B60;
$theme_purple:      #9C27B0;
$theme_deep_purple: #673AB7;
$theme_indigo:      #3949AB;
$theme_blue:        #2962FF;
$theme_light_blue:  #0288D1;
$theme_cyan:        #5E35B1;
$theme_dark_cyan:   #4769d2;
$theme_teal:        #188c75;
$theme_green:       #4CAF50;
$theme_light_green: #7CB342;
$theme_sea_green:   #6ab878;
$theme_lime:        #C0CA33;
$theme_yellow:      #FFD600;
$theme_dark_yellow: #F57F17;
$theme_amber:       #FF6F00;
$theme_orange:      #FF6D00;
$theme_deep_orange: #F4511E;
$theme_brown:       #6D4C41;
$theme_grey:        #424242;
$theme_dark_grey:   #323232;
$theme_blue_grey:   #37474F;
$theme_green_grey:  #3b4342;
// /***** color-palette *****/

//
// Gedit
//
window.org-gnome-gedit {
  > paned.titlebar {
    background-color: $theme_deep_purple;

    > separator {
      background-image: image($theme_deep_purple);
      border-top: 1px solid transparent;
    }

    // > headerbar {
    //   background-color: $theme_deep_purple;
    // }
  }
}

//
// Gnome Contacts
//
headerbar.titlebar.contacts-left-header-bar,
headerbar.titlebar.contacts-right-header-bar {
  background-color: $theme_indigo;
}

//
// Gnome Calender
//
window.org-gnome-Calendar {
  headerbar.titlebar {
    background-color: $theme_amber;
  }
}

//
// Gnome Tweak Tool (Gnome Tweaks)
//

window.background.csd {
  > hdyleaflet.titlebar {
    > headerbar.titlebar.tweak-titlebar-left,
    > headerbar.titlebar.tweak-titlebar-right {
      background-color: $theme_brown;
    }

    > separator {
      background-color: $theme_brown;
    }
  }
}

//
// Gnome Control Center
//
window.background.csd {
  > headerbar.titlebar > hdyleaflet {
    > headerbar {
      background-color: $theme_cyan;
      box-shadow: inset 0 1px highlight($titlebar);

      &:first-child:not(:only-child) {
        border-top-left-radius: $window-radius;
      }

      &:last-child:not(:only-child) {
        border-top-right-radius: $window-radius;
      }

      &:first-child:only-child, &:last-child:only-child {
        border-top-right-radius: $window-radius;
        border-top-left-radius: $window-radius;
      }
    }

    > separator {
      background-color: $theme_cyan;
      box-shadow: inset 0 1px highlight($titlebar);
    }
  }
}

//
// Gnome Builder
//
window.background.csd.org-gnome-Builder {
  > stack.titlebar {
    background-color: $theme_grey;

    > headerbar {
      > box.horizontal > stack.suggestionbutton {
        > button { @extend %button_basic.flat; }
      }
    }
  }
}

//
// Gnome-system-monitor
//
window#gnome-system-monitor {
  headerbar.titlebar {
    background-color: $theme_teal;
  }
}

//
// Gnome-Todo
//
window.org-gnome-Todo {
  headerbar.titlebar {
    background-color: $theme_deep_orange;
  }
}

//
// Dconf-editor
//
window.dconf-editor {
  headerbar.titlebar {
    background-color: $theme_purple;
  }
}

//
// Gnome-Logs
//
headerbar.titlebar.event_toolbar {
  background-color: $theme_dark_yellow;
}

//
// Geary
//
window#GearyMainWindow {
  > .titlebar {
    background-color: $theme_green;
  }
}

//
// Budgie Setting Window
//
window.background.budgie-setting-window.csd {
  > headerbar.titlebar {
    background-color: $theme_blue_grey;
  }
}
